.siteTable
{
	border: 1px solid grey;
	border-collapse:collapse 
}

tr{

}
th{
	padding:5px;
	border: 1px solid grey;
}
td
{
	border: 1px solid grey;
	# margin-left:auto;
	# margin-right:auto;

}

.selectBox
{
	# margin-left:50%;
	# margin-right:50%;
	text-align:center;
	font-weight:bold;
}
.selectBoxCell
{
	# margin-left:50%;
	# margin-right:50%;
	text-align:center;
}
.deleteCell:hover{
	background-color:grey;
}
.deleteCell
{
	padding:2px;
	font-weight:bold;
}
img{
width:20px;
	
	}
.badURLError{
	width:90%;
	border: 1px solid red;
	background-color: red;
	color:white;
	font-weight:bold;
	padding:1px;
}